

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-gray-100 {
  background-color: #f9fafb;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-white {
  color: #ffffff;
}

.text-blue-600 {
  color: #a08e0e;
}

.text-4xl {
  font-size: 3rem;
  font-weight: bolder;
}

.mbb-4 {
  margin-bottom: 1rem;
  margin-left: -40rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pxq-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: -12.5rem;
}

.font-medium {
  font-weight: 50;
}

.bg-blue-600 {
  background-color: #063268;
}

.rounded-lg {
  border-radius: 0.375rem;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.hover:bg-blue-700 {
  &:hover {
    background-color: #2563eb;
  }
}

.focus:outline-none {
  outline: none;
}

.focus:ring-2 {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.focus:ring-blue-600 {
  border-color: #a534b7;
  border-radius: 200px;
}

p {
  color: #576369;
  font-size: 1.5rem;
  font-weight: 400;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-02182d {
  background-color: #02182d;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.flex {
  display: flex;
}


.p-8 {
  padding: 2rem;
}

.text-2xl {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.text-white {
  color: white;
}

.white-full {
  width: 100%;
  margin-right: 477px;
  margin-top: 39px;
}

.h-full {
  height: auto;
}
.mb-4-1 {
  margin-bottom: 1rem;
  margin-left: 0rem;
}

.bg-whiteeeee {
  background-color: #2b333b;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 20rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.text-xl {
  font-size: 2.25rem;
  line-height: -1 rem;
  font-weight: 600;
  color: white;
}

.font-bold {
  font-weight: 200;
}

.mb-4-cl1 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.ml-8 {
  margin-left: 2rem;
  background-color: #02182d;
  border-radius: 30px;
  padding-left: 20px;
  margin-right: 20.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
  color: white;
  font-size: 1.5rem;
}

a {
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  color: #1d4ed8;
}

.offices-section-text {
  color: #ffffff;
}
ul {
  transition: max-height 1s ease;
  overflow: hidden;
}

.ul-collapse {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0s linear 0.5s;
}

.ul-expand {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.blue-index {
  color: blue;
}

.flex-container {
  display: flex;
  align-items: center;
}

.city-name {
  flex: 1;
}

.plus-icon {
  margin-left: 85px;
  margin-right: 23rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: fantasy;
}

.bg-white-w {
  background-color: #ffffff;
}

.py-8-w {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.flex-w {
  display: flex;
} 
.p-8-w {
  padding: 2rem;
}

.text-lg-w {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.mb-4-w {
  margin-bottom: 1rem;
}

.text-xl-w {
  font-size: 1.25rem;
  font-weight: bold;
}

.font-bold-w-h {
  font-weight: 200;
}

.w-full-w {
  width: 100%;
}

.mr-4-w {
  margin-right: 1rem;
}

.text-base-w {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.font-bold-w {
  font-weight: bold;
}
.cursor-pointer-w:hover {
  cursor: pointer;
}

.bg-gradient-to-r-d {
  background-image: linear-gradient(
    to right,
    var(--from-purple-500-d),
    var(--to-blue-500-d)
  );
}

.hover\:from-blue-600:hover,
.hover\:to-purple-600:hover {
  background-image: linear-gradient(
    to right,
    var(--from-blue-600),
    var(--to-purple-600)
  );
}

.focus\:ring-blue-600:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity));
  box-shadow: var(--tw-ring-offset-width) 0 0 var(--tw-ring-offset-color),
    0 0 0 var(--tw-ring-opacity) var(--tw-ring-color);
}

.from-blue-500-d {
  --from-blue-500-d: #3b82f6;
}

.to-purple-500-d {
  --to-purple-500-d: #8b5cf6;
}

.from-blue-600 {
  --from-blue-600: #2563eb;
}

.to-purple-600 {
  --to-purple-600: #7c3aed;
}

.focus\:ring-blue-600:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity));
  box-shadow: var(--tw-ring-offset-width) 0 0 var(--tw-ring-offset-color),
    0 0 0 var(--tw-ring-opacity) var(--tw-ring-color);
}

.bg-cover-d {
  background-size: cover;
}

.bg-center-d {
  background-position: center;
}

.h-96-d {
  height: 24rem;
}

.mb-8-d {
  margin-bottom: 2rem;
}

.w-4-d {
  width: 1rem;
}

.bg-gradient-to-b-d {
  background-image: linear-gradient(
    to bottom,
    var(--from-purple-500-d),
    var(--to-blue-500-d)
  );
}

.ml-8-d {
  margin-left: 2rem;
}

.pl-4-d {
  padding-left: 1rem;
}

.text-lg-d {
  font-size: 0.9rem;
}

.text-white-d {
  color: #fff;
}

.font-semibold-d {
  font-weight: 500;
  margin-left: 54rem;
  padding-top: 2rem;
}

.text-sm-d {
  font-size: 2rem;
  margin-left: 54rem;
  margin-right: 2rem;
  color: white;
}

.py-3-d {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-6-d {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 54rem;
}

.font-medium-d {
  font-weight: 500;
}

.rounded-lg-d {
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: 0 0.125rem 0.25rem #db9111;
}

.hover\:from-blue-600:hover,
.hover\:to-purple-600:hover {
  background-image: linear-gradient(
    to right,
    var(--from-blue-600),
    var(--to-purple-600)
  );
}
